<h1><%= @discussion.title %></h1>

<div>
  <%= link_to "Back to discussions", discussions_path %>
</div>

<% @discussion.posts.each do |post| %>
  <hr>
  <%= turbo_frame_tag dom_id(post, "turbo") do %>
    <%= render post %>
  <% end %>
<% end %>
